{% extends "Base.html" %}

{% block title %}Météo Marrakech{% endblock %}

{% block content %}
	{% for message in get_flashed_messages() %}
		
		<div class="alert alert-warning alert-dismissible fade show" role="alert" style="z-index: 100;">
			<center>{{ message }}</center>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	<center>
        <style type="text/css">
            .CW {
                width: 400px;
            }
        </style>
    
        <h3 class="text-primary"style="margin-top: 90px;">Add langauge</h3>
        <br>
        <form novalidate method="POST">

            {{ form.hidden_tag() }}

          
            
            {{ form.school(class="form-control CW")}}
            {{ form.sectore(class="form-control CW")}}
            {{ form.degree(class="form-control CW")}}
            {{ form.date_start(class="form-control CW")}}
            {{ form.date_end(class="form-control CW")}}
            
            {{form.submit(class="btn btn-primary")}}
        </form>
    </center>


{% endblock content %}




