{% extends "Base.html" %}

{% block title %}Météo Marrakech{% endblock %}

{% block content %}
	{% for message in get_flashed_messages() %}
		
		<div class="alert alert-warning alert-dismissible fade show" role="alert" style="z-index: 100;">
			<center>{{ message }}</center>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	
        <style type="text/css">
            .CW {
                width: 200px;
                margin: 0px 20px;
            }
        </style>
    
        <h3 class="text-primary display-5"style="margin-top: 10px;">Complete Profile</h3>
        <br>

        <div style="display: flex;flex-direction: column;align-items: start;">

            <div style="display: flex;flex-direction: row;align-items: center;">

                <form novalidate method="POST" style="margin:30px;
                                                    border: 1px solid gray;
                                                    padding: 20px 20px;
                                                    border-radius: 20px;
                                                    padding-top:20px;
                                                    margin-top: 0px;">

                    {{ skillsForm.hidden_tag() }}

                    <H4 class="display-6" style="font-size: 25px;color: #5a189a;"><b>skills: </b></H4>
                    <div style="display:flex;flex-direction: row;justify-content: center;margin: 15px ;margin-bottom: 20px;">

                    {% for s in current_skills %}

                        <p style="color:rgb(71, 64, 70);padding-right:25px;padding-left:10px;border: 2px solid rgb(228, 228, 228);border-radius: 20px;background-color: rgb(228, 228, 228);margin: 0px 7px;
                        position: relative;
                        ">      {{s.skill_name}} 

                        <a href="{{url_for('delet_skill', id=s.skill_id)}}">
                        <img src="{{ url_for('static', filename='images/remove2.png') }}" alt="Example Image" width="15px" style="border-radius:0px;
                        position: absolute;
                        top: 0px;  /* Adjust as needed */
                        right: 10px;  /* Adjust as needed */

                        border: none;
                        border: 1px solid gray;
                        cursor: pointer;
                        background-color: #da1e37;

                        border-radius: 10px;
                        margin-left: 5px;">    

                        </a>

                        </p>

                        {% endfor %}
                    </div>

                    <center style="display: flex;flex-direction: row;">

                    {{ skillsForm.skill_name(class="form-control CW", placeholder="skill")}}
                    
                    {{skillsForm.submit(class="btn btn-primary add")}}</center>
                </form>

                <form novalidate method="POST" style="margin:30px;border: 1px solid gray;padding: 20px 50px;border-radius: 20px;padding-top: 20px;margin-top: 0px;">

                    {{ langaugForm.hidden_tag() }}

                    <H4 class="display-6" style="font-size: 25px;color: #5a189a;"><b>langauges: </b></H4>

                    <div style="display:flex;flex-direction: row;justify-content: center;margin: 15px ;margin-bottom: 20px;">
                    {% for l in current_langauges %}

                    <p style="color:rgb(71, 64, 70);padding-right:25px;padding-left:10px;border: 2px solid rgb(228, 228, 228);border-radius: 20px;background-color: rgb(228, 228, 228);margin: 0px 7px;position: relative;">     {{l.langauge}}

                    <a href="{{url_for('delet_langauge', id=l.langaug_id)}}">
                                        <img src="{{ url_for('static', filename='images/remove2.png') }}" alt="Example Image" width="15px" style="border-radius:0px;
                                          position: absolute;
                    top: 0px;  /* Adjust as needed */
                    right: 10px;  /* Adjust as needed */

                    border: none;
                    border: 1px solid gray;
                    cursor: pointer;
                    background-color: #da1e37;

                    border-radius: 10px;
                    margin-left: 5px;">    


                    </a>
                    </p>

                    {% endfor %}</div>

                    <center style="display: flex;flex-direction: row;">

                    {{ langaugForm.langauge(class="form-control CW", placeholder="langauge")}}
                    <br>

                   {{skillsForm.submit(class="btn btn-primary add")}}</center>
                </form>
            </div>

            <form novalidate method="POST" style="margin:10px;border: 1px solid gray;padding: 10px 10px;border-radius: 20px;padding-top: 10px;">

                {{ experiencForm.hidden_tag() }}

                <H4 class="display-6" style="font-size: 25px;color: #5a189a;"><b>Experiences: </b></H4>
                <div style="display:flex;flex-direction: row;justify-content: center;margin: 15px ;margin-bottom: 20px;">


                 {% for ex in current_experiencs %}


                <p style="color:rgb(71, 64, 70);padding-right:25px;padding-left:10px;border: 2px solid rgb(228, 228, 228);border-radius: 20px;background-color: rgb(228, 228, 228);margin: 0px 7px;position: relative;">     
                    {{ex.experienc}}
                        <a href="{{url_for('dele_experience', id=ex.experienc_id)}}">
                        <img src="{{ url_for('static', filename='images/remove2.png') }}" alt="Example Image" width="15px" style="border-radius:0px;
                        position: absolute;
                        top: 0px;  /* Adjust as needed */
                        right: 10px;  /* Adjust as needed */

                        border: none;
                        border: 1px solid gray;
                        cursor: pointer;
                        background-color: #da1e37;

                        border-radius: 10px;
                        margin-left: 5px;">    


                        </a></p>    

                            {% endfor %}
                </div>
                        
                <center>
                <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;margin-bottom: 20px;">

         
                    {{ experiencForm.experienc(class="form-control CW", placeholder="experience")}}
                    
                    
                    {{ experiencForm.experienc_start_data(class="form-control CW")}}
                    
                    
                  
                    {{ experiencForm.experienc_end_data(class="form-control CW")}}
                    
                </div>
               
                {{experiencForm.submit(class="btn btn-primary add")}}

                </center>
            </form>

           
            <form novalidate method="POST" style="margin:20px;border: 1px solid gray;padding: 10px 10px;border-radius: 20px;padding-top: 10px;">

                {{ educationForm.hidden_tag() }}
                <H4 class="display-6" style="font-size: 25px;color: #5a189a;"><b>Education: </b></H4>
                                 <div style="display:flex;flex-direction: row;justify-content: center;margin: 1px ;">

                {% for ed in current_education %}

                    <p style="  color:rgb(71, 64, 70);
                                padding-right:25px;
                                padding-left:10px;
                                border: 2px solid rgb(228, 228, 228);
                                border-radius: 20px;
                                background-color: rgb(228, 228, 228);
                                margin: 0px 7px;
                                margin-bottom: 20px;
                                position: relative;">   

                        {{ed.sectore}}
                   

                                        <a href="{{url_for('delet_educaiton', id=ed.education_id)}}">
                                            <img src="{{ url_for('static', filename='images/remove2.png') }}" alt="Example Image" width="15px" style="border-radius:0px;
                                              position: absolute;
                            top: 0px;  /* Adjust as needed */
                            right: 10px;  /* Adjust as needed */
                           
                            border: none;
                            border: 1px solid gray;
                            cursor: pointer;
                            background-color: #da1e37;

                            border-radius: 10px;
                            margin-left: 5px;">    

                                        </a> </p>

                {% endfor %}</div>


                <center>
                <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;margin-bottom: 20px;">

              
                   

                    
                
                    {{ educationForm.school(class="form-control CW", placeholder="school")}}
                    
                 
                    {{ educationForm.sectore(class="form-control CW", placeholder="sectore")}}
                    
                    
                
                    {{ educationForm.degree(class="form-control CW", placeholder="degree")}}
                </div>

                <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;margin-bottom: 20px;">

                

                    {{ educationForm.date_start(class="form-control CW")}}
                    
                  
                    {{ educationForm.date_end(class="form-control CW")}}
                </div>
                    
                    
                    
           
                {{educationForm.submit(class="btn btn-primary")}}</center>
            </form>


            <form novalidate method="POST" style="margin:10px;border: 1px solid gray;padding: 20px 10px;border-radius: 20px;padding-top: 10px;">

                {{ certificationForm.hidden_tag() }}
                <H4 class="display-6" style="font-size: 25px;color: #5a189a;"><b>Certifications: </b></H4>
                                 <div style="display:flex;flex-direction: row;justify-content: center;margin: 15px ;">

                {% for ce in current_certifications %}

                    <p style="  color:rgb(71, 64, 70);
                                padding-right:25px;
                                padding-left:10px;
                                border: 2px solid rgb(228, 228, 228);
                                border-radius: 20px;
                                background-color: rgb(228, 228, 228);
                                margin: 0px 7px;
                                margin-bottom: 8px;
                                position: relative;">   

                        {{ce.certification}}
                   

                                        <a href="{{url_for('delet_certificaiton', id=ce.certification_id)}}">
                                            <img src="{{ url_for('static', filename='images/remove2.png') }}" alt="Example Image" width="15px" style="border-radius:0px;
                                              position: absolute;
                            top: 0px;  /* Adjust as needed */
                            right: 10px;  /* Adjust as needed */
                           
                            border: none;
                            border: 1px solid gray;
                            cursor: pointer;
                            background-color: #da1e37;

                            border-radius: 10px;
                            margin-left: 5px;">    

                                        </a> </p>

                {% endfor %}</div>

                <center>

                <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;margin-bottom: 20px;">


                   

                    
                
                    {{ certificationForm.certification(class="form-control CW", placeholder="certification")}}
                    
                 
                    {{ certificationForm.certification_description(class="form-control CW", placeholder="certification description")}}
                    
                    
                
                    {{ certificationForm.certification_url(class="form-control CW", placeholder="certification url")}}
                      {{ certificationForm.date_token(class="form-control CW")}}
                </div>
                    
                    
           
                {{certificationForm.submit(class="btn btn-primary")}}</center>
            </form>

        </div>



{% endblock content %}




